@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap");

:root {
  --cerulean-blue: #98b4d4;
  --blue-izis: #5b5ea6;
}

body {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url(./svg/slanted-gradient.svg);
  background-size: cover;
  background-position: center;
  font-family: Jaro;
}
a {
  all: unset;
}
ul {
  all: unset;
  list-style-type: none;
}
.nav-bar {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}
.nav-bar-container {
  display: flex;
  justify-content: center;
  min-height: 6rem;
  flex: 1;
}

.nav-bar-container ul {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin: minmax(1rem, 2rem);
  gap: 5rem;
}
.nav-bar-container ul li {
  min-width: 0.4rem;
  padding: 0 1rem;
  transition: transform 0.05s ease-in;
  display: flex;
}
.nav-bar-container ul li:hover {
  color: var(--blue-izis);
  cursor: pointer;
  background-color: beige;
  transform: scale(1.25);
}
.nav-cart {
  display: flex;
  flex-direction: row;
  transform: translateX(-6rem);
}
.shopping-cart {
  all: unset;
  cursor: pointer;
}
.shopping-cart svg {
  color: black;
}
.shopping-cart svg:hover {
  cursor: pointer;
  color: var(--blue-izis);
}
main {
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}
.main-header {
  display: flex;
  font-size: 3.3rem;
}
.button-section h2 {
  font-size: 3rem;
}
.button-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-section a {
  all: unset;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  min-height: 150px;
  background: linear-gradient(
    to top,
    rgba(152, 180, 212, 1) 0%,
    rgba(91, 94, 166, 1) 100%
  );
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  transition: border 0.1s ease-in;
  border-radius: 1rem;
}
.button-section a:hover {
  color: var(--blue-izis);
  background: linear-gradient(
    to top,
    rgba(17, 12, 30, 1) 0%,
    rgba(15, 76, 129, 1) 100%
  );
  border: 4px solid var(--blue-izis);
}

.products-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 3rem;
  column-gap: 2rem;
}
.card {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  justify-self: start;
}
.card-title {
  text-align: center;
  font-size: 1.5rem;
  padding-left: 10%;
  padding-right: 10%;
  min-height: 150px;
}
.card-container {
  display: grid;
  gap: 0.3rem;
  justify-content: center;
  align-content: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 1rem;
}
.image-container {
  width: 250px;
  height: 300px;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
}

.buttons button {
  all: unset;
  border: 1px solid var(--blue-izis);
  text-align: center;
  cursor: pointer;
  min-width: 1rem;
  min-height: 1rem;
}
.add-container {
  display: flex;
  justify-self: center;
  justify-content: center;
  height: 50px;
  width: 150px;
}

.add {
  all: unset;
  justify-self: center;
  text-align: center;
  background: linear-gradient(
    to top,
    rgba(17, 12, 30, 1) 0%,
    rgba(15, 76, 129, 1) 100%
  );
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.buttons input {
  text-align: center;
}
.cart-item-name {
  display: flex;
}

.product-title {
  flex: 1;
  max-width: 10rem;
}
.cart-container {
  display: grid;
  border-radius: 1rem;
  row-gap: 1rem;
  justify-content: center;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );

  min-width: 500px;
  min-height: fit-content;
}

.order-button {
  all: unset;
  padding-top: 1rem;
  cursor: pointer;
  justify-self: center;
  position: relative;
  background: none;
  border: none;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  text-transform: uppercase;
}

.order-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #333;
  transition: all 0.4s ease;
  transform: translateX(-50%);
}

.order-button:hover::after {
  width: 100%;
  left: 0;
  transform: none;
}
