@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap");

:root {
  --cerulean-blue: #98b4d4;
  --blue-izis: #5b5ea6;
}
body {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url(./svg/slanted-gradient.svg);
  background-size: cover;
  background-position: center;
  font-family: Jaro;
}
a {
  all: unset;
}
ul {
  all: unset;
  list-style-type: none;
}
.nav-bar {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}
.nav-bar-container {
  display: flex;
  justify-content: center;
  min-height: 6rem;
  flex: 1;
}
.nav-bar-container ul {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin: minmax(1rem, 2rem);
  gap: 5rem;
}
.nav-bar-container ul li {
  min-width: 0.4rem;
  padding: 0 1rem;
  transition: transform 0.05s ease-in;
}
.nav-bar-container ul li:hover {
  color: var(--blue-izis);
  cursor: pointer;
  background-color: beige;
  transform: scale(1.25);
}
.nav-cart {
  display: flex;
  transform: translateX(-6rem);
}
.shopping-cart {
  all: unset;
  cursor: pointer;
}
.shopping-cart svg {
  color: black;
}
.shopping-cart svg:hover {
  color: var(--blue-izis);
  cursor: pointer;
}
main {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-header {
  display: flex;
  font-size: 3.3rem;
}
.button-section h2 {
  font-size: 3rem;
}
.button-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-section a {
  all: unset;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  min-height: 150px;
  background: linear-gradient(
    162deg,
    rgba(152, 180, 212, 1) 0%,
    rgba(91, 94, 166, 1) 100%
  );
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);

  border-radius: 1rem;
}
